<%- include('partials/header', { 
    title: 'Erro - FitConnect',
    bodyClass: ''
}) %>

<div class="container" style="padding-top: 120px; text-align: center;">
    <h1>Oops! Algo deu errado</h1>
    <p><%= message %></p>
    <a href="/" class="btn btn-primary">Voltar para a página inicial</a>
</div>

<%- include('partials/footer') %>
