<%- include('../partials/header', { 
    title: 'Sobre - FitConnect',
    bodyClass: ''
}) %>

<div class=\"container\" style=\"padding-top: 120px;\">
    <h1>Sobre o FitConnect</h1>
    <p>Plataforma em desenvolvimento...</p>
</div>

<%- include('../partials/footer') %>
