<%- include('../partials/header', { 
    title: 'Artigos - FitConnect',
    bodyClass: ''
}) %>

<div class=\"container\" style=\"padding-top: 120px;\">
    <h1>Artigos e Dicas</h1>
    <p>Conteúdo em desenvolvimento...</p>
</div>

<%- include('../partials/footer') %>
